<h1> SinatRPS </h1>
<h3> pick your game </h3>

<form action='/choice/' method='get'>
  <select name='game'>
    <option value='rps'>Rock, Paper, Scissors</option>
    <option value='rpsd'>Rock, Paper, Scissors, Dynamite</option>
    <option value='rpsls'>Rock, Paper, Scissors, Lizard, Spock</option>
    <option value='rpslsd'>Rock, Paper, Scissors, Lizard, Spock, Dynamite</option>
  </select>
  <button type='submit'>submit</button>
</form>
