<h2>Make your move, punk</h2>
<p>
  <form>
    <% @choices.each do |choice| %>
      <input type='radio' name='player_throw' value='<%= choice %>'><%= choice %><br />
    <% end %>
    <button type='submit'>submit</button>
  </form>
</p>
<p>
  <%= @outcome %>
</p>
<p>
  score: <%= @score %><br />
  wins: <%= @wins %><br />
  losses: <%= @losses %> <br />
  defeats: <%= @defeats %><br />
</p>
